<div class="page-container">
    <mat-card id="card">
        <mat-card-title>Your Personal Data</mat-card-title>
        <mat-card-content>
            <b>First Name:</b> {{getFirstName()}}
        </mat-card-content>
        <mat-card-content>
            <b>Last Name:</b> {{getLastName()}}
        </mat-card-content>
        <mat-card-content>
            <b>Date of Birth:</b> {{getDOB()}}
        </mat-card-content>
        <mat-card-content>
            <b>Gender Identity:</b> {{getGenderID()}}
        </mat-card-content>
        <mat-card-content>
            <b>Street Address:</b> {{getAddress()}}
        </mat-card-content>
        <mat-card-content>
            <b>City:</b> {{getCity()}}
        </mat-card-content>
        <mat-card-content>
            <b>Zip Code:</b> {{getZip()}}
        </mat-card-content>
        <mat-card-content>
            <b>Country:</b> {{getCountry()}}
        </mat-card-content>
        <mat-card-content>
            <b>State:</b> {{getState()}}
        </mat-card-content>
        <mat-card-content>
            <b>Email:</b> {{getEmail()}}
        </mat-card-content>
        <mat-card-content>
            <b>Phone Number:</b> {{getPhone()}}
        </mat-card-content>

        <button mat-flat-button id="Submit" routerLink="/user-data-edit-page">Edit Personal Data</button>
    </mat-card>
</div>