<div class="page-container">
    <mat-card id="card">
        <mat-card-title>Your Personal Data</mat-card-title>
        <mat-card-content>
            First Name: {{getFirstName()}}
        </mat-card-content>
        <mat-card-content>
            Last Name: {{getLastName()}}
        </mat-card-content>
        <mat-card-content>
            Date of Birth: {{getDOB()}}
        </mat-card-content>
        <mat-card-content>
            Gender Identity: {{getGenderID()}}
        </mat-card-content>
        <mat-card-content>
            Street Address: {{getAddress()}}
        </mat-card-content>
        <mat-card-content>
            City: {{getCity()}}
        </mat-card-content>
        <mat-card-content>
            Zip Code: {{getZip()}}
        </mat-card-content>
        <mat-card-content>
            Country: {{getCountry()}}
        </mat-card-content>
        <mat-card-content>
            State: {{getState()}}
        </mat-card-content>
        <mat-card-content>
            Email: {{getEmail()}}
        </mat-card-content>
        <mat-card-content>
            Phone Number: {{getPhone()}}
        </mat-card-content>

        <button mat-flat-button id="Submit" routerLink="/user-data-edit-page">Edit Personal Data</button>
    </mat-card>
</div>