

    <p>
        <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
            Toggle
        </button>
    </p>
    
    <div id="collapseExample" *ngIf="isCollapsed">
        <form>
            <div class="form-group">
                <label for="exampleFormControlInput1">Patient Consent:</label>
                <input type="text" class="form-control" id="exampleFormControlInput1">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Patient's Phone Number:</label>
                <input type="text" class="form-control" id="exampleFormControlInput1">
            </div>
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Survey of the Environment</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Emergency Contact</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="2"></textarea>
              </div>
        </form>
    </div>
